:root {
  /**
   * Colors
   * --------------------------------------------------------------------- */

  --c-white: #fffafa;
  --c-white-dark: #f5f5f5;
  --c-black:  #17112d;

  --c-divider-light: #b580c9;
  --c-divider-dark: #734d75;

  --c-text-light-1: #17112d;
  --c-text-light-2: #f5f5f5;
  --c-text-light-3: #fffafa;

  --c-brand: #734d75;
  --c-brand-light: #b580c9;
}


/**
   * Shortcuts
   * --------------------------------------------------------------------- */

.float-left {
  float: left;
}

.cc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0 !important;
}

.shadow-bottom {
  position: relative;
}

.shadow-bottom:before {
  bottom: 0;
  height: 1em;
}

.shadow-bottom:after {
  height: 0.5em;   /* half the height of :before */
  bottom: 4px;
}

.shadow-bottom:before, .shadow-bottom:after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
}

.shadow-bottom:after, .shadow-bottom:before {
  background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
}


/**
   * Buttons
   * --------------------------------------------------------------------- */

.button {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.button button {
  cursor: pointer;
  border: 0 none;
}

.button button,
.button a {
  display: inline-flex;
  font-size: 1.2rem;
  color: #fff;
  background-color: var(--c-brand);
  border-radius: 4px;
  transition: background-color .15s ease;
  box-sizing: border-box;
  border-bottom: 1px solid #6c4b6e;
  margin: auto;
  margin-bottom: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 0.8rem 1.6rem;
}

.button button:active,
.button button:hover
.button a:active,
.button a:hover {
  background-color: #8a5f8c;
  text-decoration: none !important;
}

.button button:before,
.button a::before {
  content: ' ';
  background-repeat: no-repeat;
  align-self: center;
}

.liberapay a {
  border-width: 1px !important;
  border-style: solid !important;
  border-bottom-width: 2px !important;
  text-align: center;
}

.liberapay a {
  color: var(--textColor) !important;
  background-color: #F6C915 !important;
  border-color: #e3b907 !important;
}

.liberapay a:hover {
  background-color: #fbe588 !important;
}

.liberapay a::before {
  width: 30px;
  height: 30px;
  margin-right: 7px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' id='svg100'%3E%3Cg transform='matrix(.83012 0 0 .83012-135.4-247.7)' id='g98'%3E%3Cg id='g96' transform='matrix(1.5278123,0,0,1.5278123,-115.4985,-181.89296)'%3E%3Cpath d='m202.45 366.03c-3.104.0-5.541-.405-7.311-1.213-1.77-.809-3.039-1.912-3.803-3.313-.766-1.398-1.137-3-1.115-4.818.021-1.814.272-3.748.754-5.803l8.327-34.817 10.164-1.573-9.114 37.768c-.175.786-.273 1.508-.295 2.163-.023.655.098 1.235.36 1.737.262.504.71.908 1.344 1.213.633.307 1.519.504 2.656.591l-1.967 8.06' id='path92'/%3E%3Cpath d='m239.16 344.33c0 3.19-.525 6.108-1.574 8.753-1.049 2.646-2.503 4.929-4.36 6.852-1.858 1.925-4.087 3.421-6.688 4.491-2.601 1.07-5.432 1.607-8.49 1.607-1.487.0-2.973-.132-4.459-.395l-2.951 11.869h-9.704l10.884-45.37c1.748-.524 3.748-.994 5.999-1.41 2.252-.415 4.689-.622 7.312-.622 2.448.0 4.558.371 6.327 1.114 1.771.743 3.224 1.76 4.361 3.049 1.136 1.29 1.977 2.798 2.523 4.524.546 1.726.82 3.574.82 5.542m-23.802 13.442c.743.175 1.661.262 2.754.262 1.704.0 3.256-.316 4.655-.951 1.398-.633 2.59-1.518 3.574-2.655.982-1.136 1.747-2.501 2.294-4.098.546-1.595.819-3.354.819-5.278.0-1.879-.416-3.475-1.245-4.787-.831-1.311-2.273-1.967-4.327-1.967-1.4.0-2.711.131-3.935.394l-4.589 19.08' id='path94'/%3E%3Cpath style='stroke-width:.06734007' d='m31.236243 56.089122c-3.193278-.178764-5.459692-1.031377-6.962893-2.619406-.818114-.86428-1.398167-2.115754-1.636292-3.530322-.193173-1.147541-.05803-3.463717.312033-5.347676.17771-.904716 7.013107-29.556674 7.102164-29.770169.05088-.121979.444378-.194496 4.172604-.768968 2.264033-.348857 4.134883-.615828 4.157444-.593267.02256.02256-1.658466 7.085081-3.735615 15.694487-2.07715 8.609408-3.822806 15.918226-3.879236 16.241819-.131032.751393-.131448 1.661243-963e-6 2.100639.314495 1.059018 1.257076 1.682957 2.886867 1.910953.33247.04651.579052.112818.577087.155181-.0019.04068-.359742 1.528516-.795231 3.306294l-.7918 3.232323-.501064.0054c-.275585.0029-.682883-.0048-.905105-.01725z' id='path108' transform='matrix(1.2046451,0,0,1.2046451,163.10895,298.39059)'/%3E%3Cpath style='stroke-width:.06734007' d='m30.809991 56.061776c-1.710341-.125812-3.170567-.466776-4.3039-1.004962-1.458973-.692822-2.500452-1.635877-3.099279-2.806381-.645284-1.261314-.856615-2.219475-.851327-3.859861.004-1.247816.09285-2.168254.337919-3.501683.0919-.5 1.543114-6.666667 3.224931-13.703704 4.097586-17.145077 3.918262-16.404003 3.983147-16.460694.04592-.04012 3.02181-.513619 7.750187-1.23315.268114-.0408.506289-.05537.529277-.03238.02299.02299-1.176539 5.096552-2.665617 11.274586-5.557391 23.057044-5.085398 20.990943-5.03603 22.044741.0236.503643.06768.725578.20273 1.020564.400458.874716 1.29122 1.387864 2.795291 1.610306.305556.04519.554606.114798.553446.154686-.0012.03989-.357734 1.527069-.792386 3.304847l-.790277 3.232323-.53758.0084c-.295669.0046-.880909-.01681-1.300532-.04768z' id='path110' transform='matrix(1.2046451,0,0,1.2046451,163.10895,298.39059)'/%3E%3Cpath style='stroke-width:.06734007' d='m31.473375 65.545989c794e-6-.04659 2.023521-8.506266 4.49495-18.799279l4.493507-18.714568.673401-.191065c1.667661-.473167 4.486754-1.049398 6.026936-1.231923 2.029115-.240468 4.640758-.31285 6.070306-.168238 4.021273.406788 7.047591 2.397098 8.606277 5.660066.880067 1.842341 1.24486 3.679376 1.235594 6.22225-.01057 2.900595-.497513 5.320165-1.551263 7.70805-2.470948 5.599375-7.180462 9.089439-13.418153 9.943747-1.221444.167287-3.758194.164697-5.016836-.0051-.518518-.06996-1.001381-.129687-1.073028-.132728-.117032-.005-.25426.490567-1.350489 4.876627l-1.220221 4.882155-3.986211.01737c-3.167289.0138-3.985916-34e-6-3.98477-.06734zM47.667219 49.344898c3.489244-.754642 5.974599-3.243167 6.972369-6.981262.259622-.972662.391591-1.874827.443272-3.030303.07104-1.588367-.144677-2.789192-.717483-3.993921-.705012-1.482786-1.751724-2.120541-3.634185-2.214287-1.064696-.05302-3.374677.166499-3.545071.336893-.02296.02296-.896808 3.595818-1.941893 7.939692l-1.900155 7.897953.181022.04962c.793022.217367 3.128247.214896 4.142124-.0044z' id='path112' transform='matrix(1.2046451,0,0,1.2046451,163.10895,298.39059)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}


/**
   * Images
   * --------------------------------------------------------------------- */

.screenshot img {
  border: 1px solid var(--c-divider-dark);
  width: 190px;
  margin: 0 10px 0 0;
}


/**
   * Logo
   * --------------------------------------------------------------------- */

.logo {
  height: 2rem !important;
  vertical-align: middle !important;
}

.nav-bar-title {
  font-size: 0 !important; /* hide title in navbar */
}
